.banner-style{
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  justify-content: center;
  .banner-content {
    text-align: center;
    color: #cc0000;
    padding-right: 15px;
    h1 {
      padding-bottom: 35px;
    }
  }
  .banner-search {
    position: absolute;
    bottom: 30px;
    text-align: center;
    left: 0;
    right: 0;
  }
}
.button {
  height: 25px;
}

// .banner-style{
//   position: relative;
//   display: flex;
//   justify-content: center;
//   height: 100vh;
//   /* if you have a 70px navbar => height: calc(100vh - 70px); */
//   background-size: cover !important;
//   .banner-content {
//     color: white;
//     padding-right: 15px;
//   }
//   .banner-search {
//     position: absolute;
//     bottom: 0px;
//   }
// }
// .button {
//   height: 25px;
// }
