
.banner-style{
  display: flex;
  position: relative;
  height: 70vh;
  align-items: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  justify-content: center;
  .banner-content {
    text-align: center;
    color: #cc0000;
    padding-right: 15px;
    h1 {
      padding-bottom: 35px;
    }
  }
  .banner-search {
    position: absolute;
    bottom: 30px;
    text-align: center;
    left: 0;
    right: 0;
    .btn.btn-primary {
      height: auto;
      margin-left: 15px;
    }
  }
}

.infos {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  .row > div {
    padding-right: 60px;
    margin-top: 20px;
    text-align: center;
  }
}
