
@media screen and (max-width: 768px) {
  .bio-container {
  ul {
    li {
      display: inline;
      margin-right: 10px;
      float: left;

      }
    }
  }
}

.card-chapter {
  height: 170px;
  background-size: cover;
  border-radius: 10px;
}

.card-description {
  color: white;
  background-color: rgba(50,50,200,0.3);
  padding-left: 10px;

}

.card-chapter:hover {
  box-shadow: 7px 7px 20px black;
}

.card-chapter {
  transition: all 0.3s ease;
}

.bio-container {
  img {
    width: 60%;
  }
}

.profile {
  margin-top: 50px;
}

.my-ted-card {
  border: 1px solid #dedede;
  margin-bottom: 15px;

  ul {
    padding: 10px;
    display: flex;
    color: #888;
    justify-content: space-between;
    font-size: bold;
  }

  .avatarcontainer {
    top: 95px;
    right: 22px;
    bottom: auto;
  }
}


a.my-card-link {
  text-decoration: none !important;
}

.my-ted-card {
  .image-card {
    height: 170px;
    background-size: cover;
  }

  width: 100%;
}
