
@media screen and (max-width: 768px) {
  .bio-container {
  ul {
    li {
      display: inline;
      margin-right: 10px;
      float: left;

      }
    }
  }
}

.bio-container {
  img {
    width: 60%;
  }
}

.profile {
  margin-top: 50px;
}

.my-ted-card {
  border: 1px solid #dedede;
  margin-bottom: 15px;

  ul {
    padding: 10px;
    display: flex;
    color: #888;
    justify-content: space-between;
    font-size: bold;
  }

  .avatarcontainer {
    top: 95px;
    right: 22px;
    bottom: auto;
  }
  .image-card {
    height: 170px;
    background-size: cover;
  }

  width: 100%;
}

a.my-card-link {
  text-decoration: none !important;
}

