.ted {
  background-color: #fafafa;
  border-color: #cfcfcf;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px;
}

.teddy-card {
  border: 1px dashed #ccc;
  height: 200px;
}


// SWIPEBOX

#swipebox-title{
  font-family: $main_titlefont;
  font-size: 2em;
  padding: 11% 30% 0 30%;
}

.chapter{
  margin: 5% 0 3% 0;
  padding: 0 15px !important;
  border-bottom: 1px solid $light_color;
  // border-radius: $border_radius;
}
.chapter h1, p{
  padding: 0 20px;
}
.chapter .col-md-4 h3{
  font-size: 0.8em;
}
