<%= form_tag teds_path, method: :get,  wrapper: :inline_form, html: {class: 'form-inline'} do %>
  <%= text_field_tag :name, t('search') %>
  <button type="submit"> <%= t('submit')%></button>
<% end %>


