
<div class="container">
  <div class="row text-center filter_form">
    <% @teds.each do |ted| %>
      <p> <%= ted.name %> <%= link_to "details", ted_path(ted) %> <p>
      <% end %>
  </div>
</div>
