<div class="container">

  <p> <%= t('.name') %> <%= @ted.name %></p>

  <% @ted.chapters.each do |chapter|  %>
    <% chapter.photos.each do |photo| %>
      <%= cl_image_tag(photo.path, { size: '125x125', crop: :fit }) %>
    <% end %>
  <% end %>




</div>
