<div class="banner" style="background-image: url(images/background.jpg);">
  <div class="banner-content">
    <h1>Tous les couples ont droit à leur paradis</h1>
    <p>Louez votre espace détente, de jour comme de nuit</p>
  </div>
</div>


