<div class="container">
  <div class="row team ">

    <div class="col-xs-4">

      <div class="card-team">
        <%= image_tag("matthieu.jpg", class: "img-circle", size: "200") %>
        <h2 >Matthieu</h2>
        <div class = "team-social">
          <a href="https://www.facebook.com/lewagon/"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/lewagonparis?lang=fr"><i class="fa fa-twitter"></i></a>
          <a href="https://fr.linkedin.com/edu/school?id=198003"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/lewagon"><i class="fa fa-github"></i></a>
        </div>
        <hr>
        <p >Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      </div>

    </div>
    <div class="col-xs-4">

      <div class="card-team">
        <%= image_tag("marie-laure.jpg", class: "img-circle", size: "200") %>
        <h2>Marie-laure</h2>
        <div class = "team-social ">
          <a href="https://www.facebook.com/lewagon/"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/lewagonparis?lang=fr"><i class="fa fa-twitter"></i></a>
          <a href="https://fr.linkedin.com/edu/school?id=198003"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/lewagon"><i class="fa fa-github"></i></a>
        </div>
        <hr>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      </div>
    </div>
    <div class="col-xs-4">

      <div class="card-team">
        <%= image_tag("paul.jpg", class: "img-circle", size: "200") %>
        <h2>Paul-Edouard</h2>
        <div class = "team-social">
          <a href="https://www.facebook.com/lewagon/"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/lewagonparis?lang=fr"><i class="fa fa-twitter"></i></a>
          <a href="https://fr.linkedin.com/edu/school?id=198003"><i class="fa fa-linkedin"></i></a>
          <a href="https://github.com/lewagon"><i class="fa fa-github"></i></a>
        </div>
        <hr>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>
    </div>



    </div>

  </div>
</div>
