.banner {
  color: white;
  text-align: center;
  height: 56vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 56px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.6);
  color: $brand-color;
  letter-spacing: 0.1em;
}
.banner p {
  font-size: 22px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 90px;

}
