.card{
  height: 300px;
  text-align: left;
  border-radius: $border_radius;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
  border: 1px solid blue;
  h1 {
    color: black;
  }
  p {
    color: black;
  }
  .card-img{
    // height: 400px !important;
    overflow: hidden;
  }
  .card-bottom{
    padding-right: 20px; // pour que le texte aille à la ligne
    position: absolute;
    left: 20px;
    bottom: 120px;
   }

  .card-bottom {
    text-align: right;
  }
}

.card h1:hover, .card p:hover{
  color: $light_text_color !important;
}
