// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'swipebox';

// Your CSS
@import "variables";
@import "layout/index";
@import "pages/index";
@import "vendor/index";
@import "components/*";

body{
  font-family: $main_font, sans-serif;
}

#body-wrap {
  background-color:   #FFF;
  position:           relative;
}
