.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.fileContainer {
  width: 150px;
  height: 200px;
  border: 2px dashed #032151;
  border-radius: 5px;
  background: white;
  position: center;
}

.fileContainer [type=file] {
  cursor: pointer;
}

.photoContainer {
  width: 150px;
  margin: 0 auto;
}

.photoDescription {
  width: 150px;
  }

.remove_photo{
  position: absolute;
  right: 0;
  z-index: 1000
}

.add_plus {
  position: absolute;
  top: 46%;
  left: 44%
}
