
// Fonts
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Coming+Soon|Satisfy|Sue+Ellen+Francisco|Waiting+for+the+Sunrise');


$handwriting1: 'Satisfy';

$handwriting2: 'Coming Soon';

$handwriting3: 'Caveat Brush';

$handwriting4: 'Sue Ellen Francisco';

$handwriting5: 'Waiting for the Sunrise';



$box-shadow:  1px 3px 4px 0px #f2edfc;

$text_color: #616668; // dark-grey
$light_text_color: #e5e5e5;  // light grey

$color_1: #fc4016; // couleur chaude
$color_2: #74ccfc; // couleur froide

$nav_height: 70px;

$border_radius: 8px;
