/* -------------------------------------
 * Fonts
 * ------------------------------------- */

// -- basic fonts :
@import url('https://fonts.googleapis.com/css?family=Copse|Open+Sans');
// -- handwritting fonts :
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Coming+Soon|Satisfy|Sue+Ellen+Francisco|Waiting+for+the+Sunrise');

$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Copse", "Helvetica", "sans-serif";

$handwriting1: 'Satisfy';
$handwriting2: 'Coming Soon';
$handwriting3: 'Caveat Brush';
$handwriting4: 'Sue Ellen Francisco';
$handwriting5: 'Waiting for the Sunrise';

// Font-size and line-height
$base-size: 1em;
$base-height: 1.4;


/* -------------------------------------
 * Colors
 * ------------------------------------- */

// OUR COLOURS
$text_color: #100e14; // dark-grey
$light_text_color: #e5e5e5;  // light grey

$color_1: #fc4016; // couleur chaude
$color_2: #74ccfc; // couleur froide
$light_color: #fcfcf2;


// Scheme
$brand-color: $color_1;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #100e14;



/* -------------------------------------
 * Other
 * ------------------------------------- */

// $box-shadow:  1px 3px 4px 0px #f2edfc;
$box-shadow:  0px 0px 0px 0px #f2edfc;

$border_radius: 8px;

$nav_height: 70px;
